body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}
address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ----------------------------------------------------- */

/* -------------------------HEADER---------------------- */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.header-wrap {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-menu-list {
  display: flex;
  gap: 40px;
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.header-menu-link:hover {
  color: #404bbf;
}

.header-menu-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-address-menu {
  display: flex;
  gap: 40px;
}

.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-address-link:hover {
  color: #404bbf;
}

.header-address-link:focus {
  color: #404bbf;
}

/* ----------------------------------------------------- */

/* ------------------------1 SECTION----------------------------- */

.main-section-holder {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-holder-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin-bottom: 48px;
  margin: 0 auto 48px auto;
}

.main-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
}

.main-button:hover {
  background-color: #404bbf;
}

.main-button:focus {
  background-color: #404bbf;
}

/* ----------------------------------------------------- */

/* ----------------------2 SECTION------------------------------- */

.features-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-menu-list {
  display: flex;
  gap: 24px;
  text-align: left;
}

.main-menu-item {
  width: calc((100% - 3 * 24px) / 4);
}

.main-menu-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.main-menu-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  max-width: 264px;
  margin: 0 auto;
}

/* ----------------------------------------------------- */

/* --------------------3 SECTION--------------------------------- */

.main-section-picture {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.main-picture-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-menu-list {
  display: flex;
  gap: 24px;
}

.section-menu-item {
  background-color: #ffffff;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.main-section-image {
  background-color: #ffffff;
}

.picture-benefits {
  padding: 32px 0;
}

.main-section-subject {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.main-section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;

  color: #434455;
}

/* ----------------------------------------------------- */

/* --------------------4 SECTION--------------------------------- */

.section-benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.benefits-item {
  width: calc((100% - 2 * 24px) / 3);
}

.wrap-benefits-item {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.benefits-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.benefits-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ----------------------------------------------------- */

/* -----------------------FOOTER------------------------------ */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.header-accent-copy {
  color: #f4f4fd;
}

.footer-logo {
  display: inline-block;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

/* ----------------------------------------------------- */
